<check if="{{isset(@addResult)}}">
	<check if="{{@addResult>0}}">
		<true>
			<div class="notification is-success">
				<button class="delete"></button>
				{@LN__Added}
			</div>
		</true>
		<false>
			<div class="notification is-warning">
				<button class="delete"></button>
				{@LN__FailedAdd}
			</div>
		</false>
	</check>
</check>
{{@LN__ACP_NewMember}}

<form method="post" action="{{@BASE}}/adminCP/members/add">

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Name</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded has-icons-left">
        <input class="input" type="text" placeholder="Name" name="new_name">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Mail</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded has-icons-left has-icons-right">
        <input class="input is-success" type="email" placeholder="Email" name="new_mail">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
		{*
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
		*}
      </p>
      <p class="help">Leave empty to disable password recovery/login</p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Member group</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <div class="select is-fullwidth">
          <select name="new_group">
            <option value="5">Author</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label">
    <!-- Left empty for spacing -->
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <button class="button is-primary">
          {{@LN__Add}}
        </button>
      </div>
    </div>
  </div>
</div>

</form>