<div class="field">
  <label class="label">{{@LN__LoginName}}</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input" type="text" value="{{@data.login}}" name="data[login]">
	<span class="icon is-small is-left">
      {ICON:member}
    </span>
  </div>
</div>

<div class="field">
  <label class="label">{{@LN__VisibleName}}</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input" type="text" value="{{@data.username}}" name="data[username]">
	<span class="icon is-small is-left">
      {ICON:member}
    </span>
  </div>
</div>

<div class="field">
  <label class="label">{@LN__RealName}</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input" type="text" value="{{@data.realname}}" name="data[realname]">
	<span class="icon is-small is-left">
      {ICON:member}
    </span>
  </div>
</div>

<div class="field">
  <label class="label">{{@LN__Email}}:</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input" type="email" value="{{@data.email}}">
    <span class="icon is-small is-left">
      {ICON:mail}
    </span>
  </div>
</div>

<div class="field">
  <label class="label">{{@LN__Registered}}:</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input" type="email" value="{{ date(@CONFIG.datetime_format, @data.registered) }}">
    <span class="icon is-small is-left">
      {ICON:calendar}
    </span>
  </div>
</div>

{*
	/*
		1 = URL
		2 = Options
		3 = yes/no
		4 = URL with ID
		5 = code -> now tpl field
		6 = text
	*/
*}
<fieldset>
<repeat group="{{@data.fields}}" value="{{@field}}">
	<div class="gb-40">{{@field.title}} *</div>
	<div class="gb-60">
		<switch expr="{{@field.type}}">
			<case value="2" break="TRUE">
				<select name="field[{{@field.id}}]">
					<repeat group="{{@field.options}}" value="{{@option}}">
					<option<check if="{{@field.info==@option}}"> selected="selected"</check>>{{@option}}</option>
					</repeat>
				</select>
			</case>
			<case value="3" break="TRUE">
				<input type="radio" id="yes" name="field[{{@field.id}}]" value="1"<check if="{{@field.info==1}}"> checked="checked"</check>> <label for="yes"> {{@LN__yes}}</label> 				
				<input type="radio" id="no"  name="field[{{@field.id}}]" value="0"<check if="{{@field.info==0}}"> checked="checked"</check>> <label for="no" > {{@LN__no}}</label> 				
			</case>
			<default>
				<input type="text" name="field[{{@field.id}}]" value="{{@field.info}}" />
			</default>
		</switch>
	</div>
</repeat>
</fieldset>
{* {{ print_r(@data,1) }} *}