<div class="columns is-multiline has-background-light">
<set groups="0" />
<repeat group="{{ @data }}" value="{{ @mod }}">
<check if="{{ @groups!=@mod.groups}}">
	<check if="{{@groups>0}}">
			</div></div>
	</check>
	<div class="column is-full">{{ ${"LN__AdminMenu_Team_Group".floor(log(@mod.groups, 2))} }}</div>
	<div class="column is full ml-5 mr-5">
		<div class="columns is-multiline has-background-white">
	<set groups="{{@mod.groups}}" />
</check>
			<div class="column is-1"><a href="{{@BASE}}/adminCP/members/edit/uid={{ @mod['uid'] }};returnpath=/adminCP/members/team">{ICON:edit}</a></div>
			<div class="column is-2">{{ @mod['uid'] }}</div>
			<div class="column is-4">{{ @mod['username'] }}</div>
			<div class="column is-5">{{ @mod['realname'] }}</div>
</repeat>
		</div>
	</div>
	<div class="column is-full">&nbsp;</div>
</div>
