<form method="post" action="{{@BASE}}/adminCP/{{@form_target}}">
	<check if="{{ @form_feedback.0 }}">
		<div class="alert-box success">{{ @LN__Status_Changes, @form_feedback.0 | format }}</div>
	</check>
	<check if="{{ @form_feedback.1 }}">
		<div class="alert-box error">{{ @LN__Status_Errors, @form_feedback.0 | format }}.<br />__CheckData!</div>
	</check>
	
	<repeat group="{{ @form_elements }}" key="{{@title }}" value="{{ @elements }}" counter="{{ @ctr }}">
		<dl class="settings">
		<dt class="settings_title">{{ ${'LN__AdminMenu_'.@title} }}</dt>
		<repeat group="{{ @elements.fields }}" value="{{ @element }}" counter="{{ @ctr }}">
			<dt>{{ nl2br(@element.comment) |raw}}<check if="{{ @element.comment_small }}"><br /><small>{{ nl2br(@element.comment_small) | raw }}</small></check></dt>
			<switch expr="{{ @element['type'] }}">
				<case value="{{ 'text' }}" break="{{ TRUE }}">
				<!-- TEXT (not TEXTAREA) -->
				<dd>
					<input <check if="{{ @element.form_type.0!='' }}">class="half" </check>type="text" value="{{ @element.value }}" name="form_data[{{@elements.section}}][{{@element.name}}]" />
				</dd>
				<!-- END: TEXT -->
				</case>
				<case value="{{ 'textarea' }}" break="{{ TRUE }}">
				<!-- TEXTAREA -->
				<dd>
					<textarea class="text-input" name="form_data[{{@elements.section}}][{{@element.name}}]">{{ @element.value }}</textarea>
				</dd>
				<!-- END: TEXTAREA -->
				</case>
				<case value="{{ 'select' }}" break="{{ TRUE }}">
				<!-- SELECT -->
				<dd>
					<select class="half" name="form_data[{{@elements.section}}][{{@element.name}}]" size="1">
						<repeat group="{{ @element.form_type }}" value="{{ @option }}">
							<option value="{{@option.1}}"<check if="{{ @element['value']==@option.1 }}"> selected="selected"</check>>{{ @option.0 }}</option>
						</repeat>
					</select>
				</dd>
				<!-- END: SELECT -->
				</case>
			</switch>
		</repeat>
		</dl>
	</repeat>

	<hr />
	<input class="button" type="submit"> <input class="button" type="reset">
</form>
