<form method="post" action="{{@BASE}}/adminCP/settings/{{@form_target}}">
	<check if="{{ isset(@form_feedback.affected) }}">
	<div class="alert-box success">{{ @form_feedback.affected }} <check if="{{ @form_feedback.affected==1 }}"><true>__Entry</true><false>__Entries</false></check> __SuccessfullySaved</div>
	</check>
	<check if="{{ isset(@form_feedback.error) }}">
	<div class="alert-box error">{{ @form_feedback.error }} <check if="{{ @form_feedback.error==1 }}"><true>__Error</true><false>__Errors</false></check> __SavingData.<br>__CheckData</div>
	</check>
	
	<repeat group="{{ @form_elements }}" key="{{@title }}" value="{{ @elements }}" counter="{{ @ctr }}">
		<dl class="settings">
		<dt class="settings_title">{{ @title }}</dt>
		<repeat group="{{ @elements }}" value="{{ @element }}" counter="{{ @ctr }}">
		<dt>{{ @element.comment }}<check if="{{ @element.comment_small }}"><br /><small>{{ @element.comment_small | raw }}</small></check></dt>
		<switch expr="{{ @element['type'] }}">
			<case value="{{ 'text' }}" break="{{ TRUE }}">
			<!-- TEXT (not TEXTAREA) -->
			<dd>
				<input class="text-input" type="text" value="{{ @element.value }}" name="form_data[{{@element.name}}]" />
			</dd>
			<!-- END: TEXT -->
			</case>
			<case value="{{ 'textarea' }}" break="{{ TRUE }}">
			<!-- TEXTAREA -->
			<dd>
				<textarea class="text-input" name="form_data[{{@element.name}}]">{{ @element.value }}</textarea>
			</dd>
			<!-- END: TEXTAREA -->
			</case>
			<case value="{{ 'select' }}" break="{{ TRUE }}">
			<!-- SELECT -->
			<dd>
				<select name="form_data[{{@element.name}}]" size="1">
					<repeat group="{{ @element.form_type }}" value="{{ @option }}">
						<option value="{{@option.1}}"<check if="{{ @element['value']==@option.1 }}"> selected="selected"</check>>{{ @option.0 }}</option>
					</repeat>
				</select>
			</dd>
			<!-- END: SELECT -->
			</case>
		</switch>
		</repeat>
		</dl>
	</repeat>

	<hr />
	<input class="button" type="submit"> <input class="button" type="reset">
</form>
