<div class="cp-menu-wrapper">
	<ul class="cp-main-menu">
		<repeat group="{{ @panel_menu }}" value="{{ @line }}" key="{{ @link }}">
		<li><a href="{{@BASE}}/adminCP/{{@link}}">{{@line.icon}}&nbsp;
			<check if="{{@line.requires==2}}">
				<true><i>{{ ${'LN__AdminMenu_'.@line.label} }} (limited)</i></true>
				<false>{{ ${'LN__AdminMenu_'.@line.label} }}</false>
			</check>
		</a></li>
		<check if="{{isset(@line.sub)}}">
			<ul class="cp-sub-menu">
				<repeat group="{{ @line.sub }}" value="{{ @sub }}" key="{{ @sublink }}">
				<li><a href="{{@BASE}}/adminCP/{{@sublink}}">{{@sub.icon}}&nbsp;{{ ${'LN__AdminMenu_'.@sub.label} }}</a></li>
				</repeat>
			</ul>
		</check>
		</repeat>
	</ul>
</div>
