<br />
<br />
<form method="post" action="{{@BASE}}/adminCP/settings/language">
<table class="table table is-striped is-hoverable is-fullwidth">
<thead>
	<tr>
		<th>__default</th>
		<th>__locale</th>
		<th colspan="2">__available</th>
		<th>__name</th>
		<th>__localName</th>
	</tr>
</thead>
<tbody>
	<repeat group="{{ @data }}" value="{{ @row }}">
	<tr>
		<td>
			<input
				type="radio" 
				id="{{ @row.locale }}"
				value="{{ @row.locale }}" 
				name="form_special[lang_default]" 
				<check if="{{ @row.locale == @config.language_default }}">checked="checked"</check> 
			/>
		</td>
		<td>{{ @row['locale'] }}</td>
		<td>{ICON:visible}<input
				type="radio" 
				id="{{ @row.locale }}_available"
				value="1" 
				name="form_special[{{ @row.locale }}][available]" 
				<check if="{{ array_key_exists(@row.locale, @config.language_available) }}">checked="checked"</check> 
			/>
		</td>
		<td>{ICON:invisible}<input
				type="radio" 
				id="{{ @row.locale }}_available"
				value="0" 
				name="form_special[{{ @row.locale }}][available]" 
				<check if="{{ !array_key_exists(@row.locale, @config.language_available) }}">checked="checked"</check> 
			/>
		</td>
		<td>{{ @row['name'] }}</td>
		<td><input class="input" type="text" value="{{ @row.localname }}" name="form_special[{{ @row.locale }}][localname]" readonly="readonly" /></td>
	</tr>
	</repeat>
</tbody>
</table>
<input class="button" type="submit"> <input class="button" type="reset">
</form>