<check if="{{!empty(@returnpath)}}"><a href="{{@BASE}}{{@returnpath}}">{ICON:arrow-left} {{@LN__ReturnToOverview}}</a></check>

<include href="header.list.html" />

<form action="{{@BASE}}/adminCP/home/custompages/id={{@data.id}}/editor={{ @data.editor=='visual' ? "visual" : "plain" }}<check if="{{!empty(@returnpath)}}">;returnpath={{@returnpath}}</check>" method="post">
<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__TextblockLabel}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<input class="input half" type="text" name="form_data[label]" value="{{ @data.label }}" />
		</div></div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label"><label class="label">{{@LN__TextblockPage}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<label class="checkbox">
				<input type="checkbox" name="form_data[page]"<check if="{{ @data.as_page }}">checked="checked"</check> />
				<span class="is-size-7">({{@LN__TextblockPageExplain}})</span>
			</label>
		</div></div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__Title}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<input class="input half" type="text" name="form_data[title]" value="{{ @data.title }}" />
			<check if="\Config::getPublic('advanced_editor') == TRUE ">
				<check if="{{@data.editor=='visual'}}">
					<true>  <a class="button" href="{{@BASE}}/adminCP/home/custompages/id={{@data.id}}/editor=plain<check if="{{!empty(@returnpath)}}">;returnpath={{@returnpath}}</check>">{{@LN__SwitchPlainHTML}}</a></true>
					<false> <a class="button" href="{{@BASE}}/adminCP/home/custompages/id={{@data.id}}/editor=visual<check if="{{!empty(@returnpath)}}">;returnpath={{@returnpath}}</check>">{{@LN__SwitchVisual}}</a></false>
				</check>
			</check>&nbsp;
		</div></div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__TextblockContent}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<textarea class="textarea" name="form_data[content]" id="tinymce" rows="20" cols="80">{{ @data.content }}</textarea>
		</div></div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label">&nbsp;</div>
	<div class="field-body">
		<div class="field is-grouped">
			<p class="control">
				<button class="button is-success" type="submit">
					<span class="icon"><i class="fas fa-save"></i></span>
					<span>{{@LN__Save}}</span>
				</button>
			</p>
			<p class="control">
				<button class="button is-light" type="reset">
					<span class="icon"><i class="fas fa-undo-alt"></i></span>
					<span>{{@LN__Reset}}</span>
				</button>
			</p>
		</div>
	</div>
</div>

</form>
