<h2>Welcome to the admin panel!</h2>
<br />
<h3>Version check:</h3><br />
<!-- local version -->
<div class="columns">
	<div class="column is-one-quarter">Your local version:</div>
	<div class="column is-one-quarter"><div class="notification">{{@versions_compare.base}}</div></div>
</div>

<div class="columns">
<check if="{{@script_versions}}">
	<true>
		<!-- stable release -->
		<div class="column is-one-quarter">Current stable version:</div>
		<check if="{{@script_versions.stable}}">
			<true>
				<div class="column is-one-quarter"><div class="notification">{{@script_versions.stable}}</div></div>
				<check if="{{(int)@versions_compare.stable===1}}">
					<div class="column is-one-quarter">newer version available</div>
				</check>
				<check if="{{(int)@versions_compare.stable===0}}">
					<div class="column is-one-quarter">same as server</div>
				</check>
				<check if="{{(int)@versions_compare.stable===-1}}">
					<div class="column is-one-quarter">newer than server version</div>
				</check>
			</true>
			<false>
				<div class="column is-one-quarter"><div class="notification">N/A</div></div>
				<div class="column is-one-quarter"><div class="notification is-warning">no download available</div></div>
			</false>
		</check>
		</div>
		<div class="columns">

		<!-- development release -->
		<div class="column is-one-quarter">Current development version:</div>
		<check if="{{@script_versions.dev}}">
			<true>
				<div class="column is-one-quarter"><div class="notification">{{@script_versions.dev}}</div></div>
				<check if="{{(int)@versions_compare.dev===1}}">
					<div class="column is-one-quarter"><div class="notification is-info">newer version available</div></div>
				</check>
				<check if="{{(int)@versions_compare.dev===0}}">
					<div class="column is-one-quarter"><div class="notification is-success">same as server</div></div>
				</check>
				<check if="{{(int)@versions_compare.dev===-1}}">
					<div class="column is-one-quarter"><div class="notification is-warning">newer than server version</div></div>
				</check>
			</true>
			<false><div class="column is-half">N/A</div></false>
		</check>
	</true>
	<false><div class="column is-half"><div class="notification is-warning">Could not get version information from server!</div></div></false>
</check>
</div>