<aside class="menu">
 <ul class="menu-list">
	<repeat group="{{ @panel_menu }}" value="{{ @line }}" key="{{ @link }}">
		<li>
			<a <check if="{{isset(@line.selected)}}">class="is-active"</check> href="{{@BASE}}/adminCP/{{@link}}">{{@line.icon}}&nbsp;
				<check if="{{@line.requires==2}}">
					<true><i>{{ ${'LN__AdminMenu_'.@line.label} }} (limited)</i></true>
					<false>{{ ${'LN__AdminMenu_'.@line.label} }}</false>
				</check>
			</a>
		<check if="{{isset(@line.sub)}}">
			  <ul>
				<repeat group="{{ @line.sub }}" value="{{ @sub }}" key="{{ @sublink }}">
				<li><a <check if="{{isset(@sub.selected)}}">class="is-active"</check> href="{{@BASE}}/adminCP/{{@sublink}}">{{@sub.icon}}&nbsp;{{ ${'LN__AdminMenu_'.@sub.label} }}</a></li>
				</repeat>
			  </ul>
		</check>
		</li>
	</repeat>
  </ul>
 </aside>