/* import basic settings, IE-fixes and grids */
@import url(../../default/css/styles.css);

/*-----------------  GENERAL  -----------------*/

#top-navbar {
	background: #3399FF;
	color: #fafafa;
	padding: 5px;
	width: 100%;
	z-index: 15;
}

.review ul
{
	padding: 0px 0px 0px 30px;
}