* {
	margin: 0;
	padding: 0;
	}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid-wrapper {
	width: 100%;
	max-width: 100%;
	min-width: 755px;
	margin: 0 auto;
	padding: 6px;
	overflow: hidden;
}

.grid-wrapper:after {
	content: "";
	display: table;
	clear: both;
}

[class*='gb-'] {
	float: left;
	padding: 6px;
}

[class*='gb-']:last-of-type {
	padding-right: 0;
}

/* class gb -- grid box */
.gb-100, .gb-full {
	width: 100%;
}

.gb-90 {
	width: 90%;
}

.gb-80 {
	width: 80%;
}

.gb-70 {
	width: 70%;
}

.gb-60 {
	width: 60%;
}

.gb-50, .gb-half, .gb-2qrt {
	width: 50%;
}

.gb-40 {
	width: 40%;
}

.gb-30 {
	width: 30%;
}

.gb-20 {
	width: 20%;
}

.gb-10 {
	width: 10%;
}

.gb-05 {
	width: 5%;
}

.gb-1thrd {
	width: 33%;
}

.gb-2thrd {
	width: 67%;
}

.gb-1qrt {
	width: 25%;
}

.gb-3qrt {
	width: 75%;
}

/* golden ratio: http://en.wikipedia.org/wiki/Golden_ratio */
.gb-golden1 {
	width: 38.2%;
}

.gb-golden2 {
	width: 61.8%;
}

@media handheld, only screen and (max-width: 825px) {
	.grid-wrapper {
		width: 100%;
		min-width: 0;
		margin: 0;
		padding: 0;
	}

[class*="gb-"] { 
   display: block;
    float: none;
    padding: 0;
    margin: 0;
    width: 100% !important;
  }

@media screen and ( max-width: 567px )  {
  .screen-micro,
  .screen-micro > [class*="gb-"] {
  display: none; 	
  }
}