/* import fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand');
@import url(font-awesome.min.css);

body, p {
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	color: #141516;
	}

code, kbd, pre, tt {
	font-family: Consolas, monospace;
	}
	
b, strong {
	font-weight: 600;
}

/*-----------------  LINKS  -----------------*/
a, a:active, a:visited {
	font-weight: 300;
	text-decoration: none;
	text-transform: none;
	color: #48779f;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	}

a:hover { color: #efefef; }

a.disabled { color: #141516; }

/*-----------------  HEADLINES  -----------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	}
	
h1 {
	text-align: center;
}
