/*-----------------  GENERAL  -----------------*/


#top-navbar {
	background: #2e2e2e;
	color: #fafafa;
	padding: 5px;
	width: 100%;
	z-index: 15;
	}

body {
	background: #efefef;
	background-image: url();
	background-repeat: repeat;
	padding: 0;
	margin: 0;
	}

#header {
	background: #1b1b1b;
	margin: 0;
	color: #fafafa;
	}

#container {
	background: #fafafa;
	}

#sidebar {
	background: #1b1b1b;
	text-align: justify;
	height: 100vh; /*full page height */
	}

#content {
	text-align: justify;
	padding: 50px;
	}

#footer {
	color: #fafafa;
	background: #1b1b1b;
	text-align: center;
	padding: 10px;
	margin-top: 10px;
	font-size: 0.90em;
	}

img {
	max-height: auto;
	max-width: 100%
}

.clearfix { clear: both; }

/*-----------------  PAGINATION  -----------------*/

.pagination {
	text-align: center;
	margin: 5px 0 10px 0;
}
.pagination ul {
	width: 95%;
	}
.pagination li {
	display: inline;
	list-style-type: none;
	white-space: pre-wrap;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	background-color: #f4f4f4;
	border: 1px solid #dcdcdc;
	padding: 3px 4px;
	margin: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}
.pagination li:hover {
	color: #ccaf0b;
	background-color: #dedede;
	}
.pagination current {
	color: #dcdcdc;
}

/*-----------------  SIDEBAR BOXES  -----------------*/

.sbarbox {
	margin: 10px 0;
	padding: 10px;
	text-align: center;
}

.spotlight, .sbarstats {
	margin: 10px 0;
	padding: 10px;
}

#tagcloud a {
	font-weight: normal;
	text-align: center;
	line-height: 10pt;
	text-shadow: 0 1px 0 #fafafa;
	}
	
/*-----------------  SIDEBAR CALENDAR  -----------------*/

.calendar {
	margin: 0 auto;
	text-align: center;
	}

.calendar td {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #dcdcdc;
	padding: 5px;
}
.calendar-blank {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid transparent !important;
	padding: 5px;
}

.calendar-flip {
	font-size: 11pt;
	padding: 4px 8px;
}

/*-----------------  SITE NEWS  -----------------*/

.news-box {
	background-color: #f4f4f4;
	border: 1px solid #dcdcdc;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px;
	margin: 10px 0;
	}
.news-dateauthor {
	margin: -12px 0 5px 0;
	padding: 5px 0;
	font-size: 10pt;
	}
.news-comment {
	text-align: right;
	padding: 10px;
	}	
.write-comment {
	width: 80%;
	margin: 0 auto;
	}
.comment {
	position: relative;
	padding: 10px;
	background: #f4f4f4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 5px;
}
.comment:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #f4f4f4;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -15px;
	left: -15px;
	top: 25px;
}
.comment-dateauthor {
	padding: 0 0 10px 0;
}
.adminoptions {
	text-align: right;
}

#news-archive {
	text-align: center;
}

/*-----------------  TABLE BODY  -----------------*/

table.tbody {
	border-collapse: collapse;
}

.tbody {
	margin: 0;
	width: 100%;
}

.tbody td {
	padding: 6px 8px;
	margin: 0;
}

.tbody th {
	font-size: 11pt;
	font-weight: normal;
	text-transform: none;
}

.tbody tr:nth-child(odd) {
	background-color: transparent;
	padding: 3px;
}
.tbody tr:nth-child(even) {
	background-color: #ededed;
	padding: 3px;
}

/*-----------------  UPDATED/NEW STORIES  -----------------*/

.index-list:nth-child(odd), .listing:nth-child(odd) {
	background-color: #f4f4f4;
	border-top: 1px dotted #fafafa;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px dotted #fafafa;
	border-left: 1px solid #e6e6e6;
	padding: 7px 10px;
	}
.index-list:nth-child(even), .listing:nth-child(even) {
	background-color: #ededed;
	border-top: 1px dotted #d3d3d3;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px dotted #d3d3d3;
	border-left: 1px solid #e6e6e6;
	padding: 7px 10px;
	}
.index-list:last-child, .listing:last-child {
	border-bottom: 1px dotted #dedede;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	}
.updated-title {
	padding: 0 10px;
	margin: 0;
  border-bottom: 1 solid #dedede;
  text-shadow: 0 1px 0 #fafafa;
	}
.updated-summary {
	width: 100%;
	height: 80px;
	overflow: auto;
	font-size: 9pt;
	}
span.count {
	padding-right: 5px;
	float: right;
	}

/*-----------------  AUTHORS INDEX  -----------------*/

.author-grid-wrapper {
	background-color: #f4f4f4;
	border: 1px solid #dcdcdc;
	margin: 5px;
	}
.author-grid-letter {
	font-family: 'Bree Serif', Georgia, serif;
	font-size: 60px;
	color: #139baf;
	background-color: #e8e8e8;
	text-shadow: 0 0 3px #fff;
	margin: 5px;
	padding: 0 0 0 15px;
	}
.author-grid ul {
	margin: 0;
	padding: 0;
	}
.author-grid li {
	margin: 0 0 2px 5px;
	padding: 0;
	list-style: none;
	list-style-position: inside;
	}

.alphabetical ul {
	margin: 20px 0;
}
.alphabetical li {
	list-style: none;
	background-color: #f4f4f4;
	border: 1px solid #dcdcdc;
	width: 200px;
	padding: 4px 6px;
	margin: 1px;
}

/*-----------------  DASHBOARD/FANDOMS  -----------------*/

.groupings ul {	}
.groupings li {
	list-style: none;
	list-style-position: inside;
	background-color: transparent;
	text-align: left;
	padding: 3px 0;
	margin: 0;
	}
.groupings-toggle {
	font-weight: normal;
	font-style: normal;
	text-align: right;
	border-top: 1px solid #dcdcdc;
	letter-spacing: 0;
	margin: 0;
	padding: 5px;
	}
	
	/*----------------- STORY LISTING/VIEW -----------------*/
	
.story-box {
	background-color: transparent;
	border: 1px solid #dcdcdc;	
	margin: 10px;
	padding: 5px;
}
#story-container {
	background-color: #f4f4f4;
	border: 1px solid #dcdcdc;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 10px;
	padding: 5px;
}
.story-titleauthor {
	text-align: center;
	margin: 0;
	padding: 10px;
}
.story-chapter {
	text-align: right;
	margin: 10px;
	padding: 5px 15px;
}
.story-text {
	padding: 5px 15px;
}
.story-date {
	padding: 0 3px;
	text-transform: uppercase;
	text-align: left;
	font-size: 9pt;
}
.list-sort {
	text-align: right;
}

/*----------------- STORY DETAILS/LISTING -----------------*/
.story-info1 {
  text-align: right;
  padding: 2px;
  margin: 2px;
}
.story-info2 {
  text-align: justify;
  padding: 2px;
  margin: 2px;
}
.story-info3 {
  text-align: center;
  padding: 2px;
  margin: 2px;
}

.toc-wrapper {
	margin: 5px;
}
	
.story-groupings li {
	list-style-type: none;
	list-style-position: inside;
	display: inline;
	white-space: nowrap;
}
.story-groupings a {
	background-color: #e5a50c;
	-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
	padding: 2px 4px;
	margin: 1px;
  text-decoration: none;
  color: #fafafa;
}
.story-groupings a:hover {
	color: #1d5d81;
}

/*----------------- GROUPINGS / FANDOMS -----------------*/

.grouping-main {
	margin: 5px 0;
	padding: 5px;
	background-color: transparent;
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.grouping-sub {
	padding: 5px;
}

/*-----------------  REVIEWS  -----------------*/

.review {
	position: relative;
	padding: 10px;
	background: #fafafa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 5px;
}
.review:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #fafafa;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -15px;
	left: -15px;
	top: 25px;
}

.review-comment {
	background: #efefef;
	margin: 5px 5px 5px 50px;
}
.review-comment:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #efefef;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -15px;
	left: -15px;
	top: 25px;
}
.write-review {
	width: 80%;
	margin: 0 auto;
}
.user-icon {
	margin: 0;
	padding: 0 0 0 5px;
}

/*----------------- CONTEXTUAL POPUP -----------------*/

a.contextual-popup { text-decoration: none; }
a.contextual-popup:hover { color: #141516; background-color: #fafafa; }
a.contextual-popup span { 
	display: none;
	position: absolute;
	left: 40em;
	margin-top: 0.1em;
	padding: 1em;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; }
a.contextual-popup:hover span { 
	display: block;
	width: 20em;
	text-align: left;
	border: 1px solid #dcdcdc;
	color: #141516;
	background-color: #f4f4f4;
	font-family: Consolas, monospace;
	font-size: 8pt;
	}
	
/*----------------- FIELDSET -----------------*/

fieldset {
	margin: 5px 10px;
	padding: 6px;
	text-align: left;
	border: 1px solid #dcdcdc;
	background-color: #f4f4f4;
	background-image: url();
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}
legend {
	border: 1px solid #dcdcdc;
	background-color: #f4f4f4;
	margin: 0 0 0 30px;
	padding: 6px;
	text-transform: uppercase;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; 
}

/*----------------- ACP/UCP -----------------*/

.story-list-box {
	padding: 0 5px;
	margin: 5px 0;
	border-left: 5px solid #e5a50c;
}

/*----------------- MISC -----------------*/

blockquote {
	margin: 15px;
	padding: 5px 15px 20px 15px;
	text-align: justify;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-right: 3px solid #a0252a;
	border-left: 3px solid #a0252a;
	}

hr {
  height: 1px;
  margin: 50px 0;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0,0,0,0)), color-stop(0.5, #e8e8e8), to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0), #e8e8e8, rgba(0,0,0,0));
  background: -moz-linear-gradient(left, rgba(0,0,0,0), #e8e8e8, rgba(0,0,0,0));
  background: -o-linear-gradient(left, rgba(0,0,0,0), #e8e8e8, rgba(0,0,0,0));
  background: linear-gradient(left, rgba(0,0,0,0), #e8e8e8, rgba(0,0,0,0));
  border: 0;
}
hr:after { 
  display: block; 
  content:'';
  height: 30px;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #dcdcdc), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-radial-gradient(center top, farthest-side, #dcdcdc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-radial-gradient(center top, farthest-side, #dcdcdc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-radial-gradient(center top, farthest-side, #dcdcdc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(farthest-side at center top, #dcdcdc 0%, rgba(255, 255, 255, 0) 100%);
}
	
/*----------------- ALERTS -----------------*/
.alert-box {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
  padding: 2px 2px 2px 2px;
  margin: 5px 5px 5px 5px;
}
.alert-box span {
  font-weight: bold;
  text-transform: uppercase;
}
.error {
  background-color:#ffecec;
  border: 1px solid #f5aca6;
}
.alert-box.success {
  background-color:#e9ffd9;
  border: 1px solid #a6ca8a;
}
.warning {
  background-color:#fff8c4;
  border: 1px solid #f2c779;
}
.info {
  background-color:#e3f7fc;
  border: 1px solid #8ed9f6;
}
.alert-box.blank {
	border: none;
}

.page_centered  {
	position: relative;
	margin: 0 auto;
	
}
/*----------------- MISC -----------------*/
li {
	list-style: none;
	list-style-position: inside;
	margin: 2px 8px;
}

/* The outer container of the dialog. */
.ui-dialog .ui-widget-header {
    background: #a0de00;
    border: 0;
    color: #fff;
    font-weight: normal;
}

/* The title bar containing the dialog's title and close button. */
.ui-dialog-titlebar {
}

/* The container around the textual title of the dialog. */
.ui-dialog-title {
}

/* The dialog's close button. */
.ui-dialog-titlebar-close {
}

/* The container around the dialog's content. This is also the element the widget was instantiated with. */
.ui-dialog-content {
}

/* The pane that contains the dialog's buttons. This will only be present if the buttons option is set. */
.ui-dialog-buttonpane {

}

/*  The container around the buttons themselves. */
.ui-dialog-buttonset {

}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		border: 1px solid red;
		background: transparent;
	}

/* If option modal is set, ui-widget-overlay is applied to <body> */
.ui-widget-overlay {
		background: #000000;
		opacity: 0.5;
}