/* import basic settings, IE-fixes and grids */
@import url(bulma.css);
@import url(bulma.tooltip.css);
@import url(menu.css);
@import url(forms.css);
@import url(typography.css);
@import url(tokeninput.css);
@import url(jquery.datetimepicker.css);

.hero.is-fullheight .hero-body {
  align-items: flex-start;
}

.hero-body {
	padding: 0;
}

.sidebar {
	position: sticky;
	top: 0;
}

.pagination
{
	padding: 20px;
}

.notification.is-transparent {
  background-color: transparent;
}

.notification.has-border {
    border: 1px solid #dbdbdb;
}


