/* import fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand');

body, p {
	font-family: 'Open Sans', sans-serif;
	}

code, kbd, pre, tt {
	font-family: Consolas, monospace;
	}
	
h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif;
	}
