input[type=text], input[type=password] {
    width: 100%;
    padding: 6px;
    display: inline-block;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
	outline: none;
}
input.readonly {
    width: 100%;
    padding: 6px;
    display: inline-block;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
	outline: none;
}

input[type=text].half, input[type=password].half {
	width: 50%;
	box-sizing: border-box;
}

input[type=text].navbar, input[type=password].navbar {
	width: 100px;
	padding: 5px;
	box-sizing: border-box;
}

select {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    font-family: 'Open Sans', sans-serif;
}

select.search, select.chap-change {
    width: 25%;
}

input[type=button], .button {
    background-color: #2e2e2e;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.search-rating {
	text-align: left;
	}

.search-buttons {
	text-align: right;
}

.button {
    max-width: 60%;
    margin: 0 auto;
    padding: 6px 12px;
    background-color: #2e2e2e;
    border: none;
    color: white !important;
    text-decoration: none;
    text-align: center;
	cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
.button:hover {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s; 
	background-color: #dddddd;
}

input[type=submit], input[type=reset] {
    background-color: #2e2e2e;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

input[type=submit].navbar {
	background-color: #fafafa;
	color: #2e2e2e;
   	padding: 6px 12px;
   	margin: 0 0 0 6px;
   	border-radius: 4px;
}

.delete {
	background-color: #cd2323;
    border: none;
    color: white !important;
    padding: 9px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: #fff;
    resize: none;
    font-family: 'Open Sans', sans-serif;
}


/* For user CP forms
---------------------------------------- */

dl.settings {
	width: 100%;
	float:left;
	margin: 0 0 10px 0;
	padding: 0;
}

dl.settings dt {
	float:left;
	width: 30%;
	clear:both;
	margin: 5px 0 3px 10px;
	padding: 5px;
}
dl.settings dd {
	width: 66%;
	float: left;
	margin: 0 0 3px 0;
	padding: 5px;
}

dl.settings dt.note {
	width: 96%;
	float: left;
	margin: 0 0 10px 0;
	padding: 5px 0 5px 20px;
	clear: both;
}

dl.settings dt.settings_title {
	width: 100%;
	float: none;
	font-weight: bold;
	clear: both;
}
