/* SBOX */
#sboxContainer {
	margin: 0;
	overflow: auto;
}
#sboxContent {
	padding: 15px 5px;
}
#sBoxEmoticons {
	background-color: #f4f4f4;
	border: 1px dashed #dcdcdc;
	padding: 5px 2px;
	margin: 10px 2px;
}
#sBoxEmoticons img {
	padding: 2px;
}
.sboxInfo {
	background-color: transparent;
	padding: 10px 2px;
	margin: 5px 2px;
	text-align: center;
}
.sboxInfo a {
	background: #f4f4f4;
	color: #139baf;
	border: 1px solid #dcdcdc;
	padding: 4px 6px;
	font-family: inherit;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.sboxInfo a:hover {
	color: #1d5d81;
}

.sboxText {
	padding: 6px 4px;
	margin: 2px 0;
	text-align: justify;
	line-height: 12px;
}
.sboxUser {
	float: left;
	color: #7bcac8;
	padding: 0;
	margin: 0 4px 0 0;
}
.sboxDate {
	margin: 2px 5px 0 0; 
	font-size: 8pt;
	position: relative;
	float: right;
	text-transform: uppercase;
}
.sboxMSG:nth-child(even) {
	background-color: #f4f4f4;
	border: 1px solid #dcdcdc;
	margin: 1px;
	padding: 3px;
	font-size: 10pt;
	min-height: 60px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.sboxMSG:nth-child(odd) {
	background-color: #ededed;
	border: 1px solid #dcdcdc;
	margin: 1px;
	padding: 3px;
	font-size: 10pt;
	min-height: 60px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}