/* import basic settings, IE-fixes and grids */
@import url(bulma.css);
@import url(bulma.tooltip.css);
/* @import url(forms.css); */
@import url(typography.css);
@import url(tokeninput.css);
@import url(barfiller.css);
@import url(jquery.datetimepicker.css);
@import url(cookieconsent.css);

/* --------------- listing --------------- */

.story-box, .contest-box {
	margin: 6px 8px;
	padding: 6px 8px;
	border: 1px solid #efefef;
}
.story-list-head, .contest-list-head {
	border-bottom: 1px solid #efefef;
	padding: 4px 2px;
	font-size: large;
}
.story-list-actions, .contest-list-actions {
	text-align: right;
}
.story-list-summary, .contest-list-summary {
	text-align: justify;
	padding: 6px;
}
.story-list-info {
	text-align: center;
	font-size: small;
}

/* --------------- sidebar --------------- */

.sbarbox {
	margin: 8px 0;
}

.calendar {
	font-size: medium;
	text-align: center;
}

.sbox {
	font-size: small;
}
.sbox-date {
	font-size: 8pt;
}
.sboxMSG:nth-child(even) {
	background-color: transparent;
	border: 1px solid #efefef;
	margin: 1px;
	padding: 3px;
	min-height: 60px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.sboxMSG:nth-child(odd) {
	background-color: #fafafa;
	border: 1px solid #efefef;
	margin: 1px;
	padding: 3px;
	min-height: 60px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.stats-table td {
	padding: 0 6px;
}

/* --------------- archive news --------------- */

.news-box {
	border: 1px solid #efefef;
	margin: 6px 0;
	padding: 8px;
	text-align: justify;
}
.news-date-author {
	text-align: center;
	padding: 6px;
}
.news-comments {
	border: 1px solid #efefef;
	margin: 6px 0;
	padding: 8px;
	text-align: justify;
}

/* --------------- authors index --------------- */

.author-grid-wrapper {
	background-color: #fff;
	border: 1px solid #efefef;
	margin: 5px;
	}
.author-grid-letter,  .author-grid-letter a{
	font-family: 'Fauna One', serif;
	font-size: 42pt;
	text-align: center;
	background-color: #fafafa;
	margin: 5px;
	padding: 5px;
	color: #e4e4e4;
	}
.author-grid ul {
	margin: 0;
	padding: 0;
	}
.author-grid li {
	margin: 0 0 2px 5px;
	padding: 0;
	list-style: none;
	list-style-position: inside;
	font-size: 10pt;
	}

.alphabetical ul {
	margin: 20px 0;
	}
.alphabetical li {
	list-style: none;
	min-width: 200px;
	padding: 4px 6px;
	margin: 1px;
	}

.nav-alphabet ul {
	margin: 10px auto;
	text-align: center;
	}
.nav-alphabet li {
	background-color: #fafafa;
	list-style: none;
	list-style-position: inside;
	display: inline;
	padding: 6px 8px;
	}

.button.navmenu {
	margin: 0px 5px 0px 5px;
	text-align: left;
	}
/* --------------- fieldset --------------- */

fieldset {
	margin: 6px 0;
	padding: 6px;
	text-align: left;
	border: 1px solid #efefef;
	background-color: #fff;
	background-image: url();
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}
legend {
	border: 1px solid #efefef;
	background-color: #fff;
	margin: 0 0 0 30px;
	padding: 6px;
	text-transform: uppercase;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; 
}

/* --------------- reviews --------------- */

.review-headline {
	font-size: inherit;
	border-bottom: 1px dashed #efefef;
}
.review-content {
	border-left: 2px solid #efefef;
	padding: 0 6px;
}

/* --------------- sidewide --------------- */

.buttons-alignment {
	text-align: center;
}

.text-alignment {
	vertical-align: sub;
	height: 2.25em;
	line-height: 1.5;
}

/* required for drag&drop */
ul#chapter-sort {
	margin: 5px;
}
