@import url(https://fonts.googleapis.com/css?family=Open+Sans|Quicksand|Love+Ya+Like+A+Sister|Fauna+One);
@import url(https://use.fontawesome.com/releases/v5.14.0/css/all.css);

body, p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 11pt;
}

code, kbd, pre, tt {
	font-family: 'Consolas', monospace;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	margin: 5px;
	padding: 5px;
	}

h1 {
	font-size: 26pt;
}
h2 {
	text-align: center;
	font-size: 24pt;
}
h3 {
	text-align: center;
	font-size: 20pt;
	border-bottom: 1px solid #efefef;
}
h4 {
	text-align: center;
	font-size: 18pt;
}
h5 {
	text-align: center;
	font-size: 16pt;
	border-bottom: 1px solid #efefef;
}
h6 {
	text-align: center;
	font-size: 13pt;
	border-bottom: 1px dashed #efefef;
}