	<div id="top-navbar"><include href="main/navbar.html" /></div>
	<div class="grid-wrapper" id="container">
	<div class="grid-wrapper header"><h1>efiction 5.0</h1>
		<div class="gb-full screen-micro">
			<a href="{{@BASE}}"><div class="header_img"></div></a>
		</div>
		<div class="gb-full">
			{BLOCK:menu.main}
		</div>
	</div><!-- end header -->

	<check if="{{ @@systempage }}">
	<!-- layout for system pages (admin panel, error pages, ...) -->
		<true>
			<div class="gb-20 screen-micro">
				<div class="cp-menu-wrapper">{{@LEFT|raw}}</div>
			</div>
			<div class="gb-80" id="content">
		</true>

	<!-- regular pages -->
		<false>
			<div class="gb-20 screen-micro">
				<div class="sidebar">{BLOCK:story.tagcloud.20}{BLOCK:shoutbox}</div>
				{{@LEFT}}
			</div>
			<!-- select width for main section -->
			<check if="{{ isset(@bigscreen) }}">
				<true>
					<div class="gb-80" id="content">
				</true>
				<false>
					<div class="gb-60" id="content">
				</false>
			</check>
		</false>
	</check>

	<check if="{{ isset(@title_h1) }}">
		<h1>{{ @title_h1 }}</h1>
	</check>
		
	<check if="{{ isset(@title_h3) }}">
		<h3>{{ @title_h3 }}</h3>
	</check>

		{{@BODY | raw }}
		</div>

		<!-- drop right bar for system  -->
		<check if="{{ empty(@bigscreen) and empty(@systempage) }}">
	  		<div class="gb-20">
			{BLOCK:story.stats}{BLOCK:calendar}
				{{@RIGHT|raw}}
			</div>
		</check>

		<div class="grid-wrapper footer">
			<div class="gb-full">
				{PAGE:footer}<br />
				{{ \Base::instance()->format('eFiction v{0}, using {1}, page rendered in {2} msecs / Memory usage {3} KB',@APP_VERSION,@CONFIG->ACTIVE_DB,round(1e3*(microtime(TRUE)-$TIME),2),round(memory_get_usage(TRUE)/1e3,1)) }}
				<check if="{{isset(@bb2_stats)}}">BB block {{@bb2_stats}}</check>
			</div>
		</div> <!-- end footer -->
	</div> <!-- end container -->
