<!DOCTYPE html>
<html lang="en">
	<head>
	    <base href="{{@SCHEME.'://'.@HOST.@BASE.'/'}}"/>
		<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="">
		<meta name="keywords" content="{KEYWORDS}">
		<meta name="description" content="">
		<meta name="robots" content="INDEX,FOLLOW">
		<title>{{@TITLE}}</title>
		<link rel="shortcut icon" href="http://treknation.net/webpics/favicon.ico" type="image/x-icon" />
		<link rel='stylesheet' type='text/css' href="{{@CSS_UI}}css/styles.css" />
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		{*<script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>*}
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
		<script src="{{ @BASE }}/app/js/jquery.tokeninput.js"></script>
		<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
			<script type="text/javascript">
				window.cookieconsent_options = {"message":"{{@LN__CookieText}}","dismiss":"{{@LN__CookieAccept}}","learnMore":"{{@LN__CookieInfo}}","link":"{{@BASE}}/page/eucookie","theme":false};
			</script>
			<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
		<!-- End Cookie Consent plugin -->

		<check if="{{ isset(@JS_HEAD)}}">{{ @JS_HEAD | raw }}</check>
		<check if="{{ isset(@bb2_javascript)}}">{{ @bb2_javascript | raw }}</check>
	</head>
<body>
	{{ @BODY | raw }}
	<check if="{{ isset(@JS_BODY)}}">{{ @JS_BODY | raw }}</check>
	<check if="{{ isset(@DEBUGLOG) AND @_SESSION['groups']&64 }}"><div><textarea cols='120' rows='30'>{{ @DEBUGLOG }}</textarea></div></check>
</body>
</html>