
<check if="{{ @data.job=='add' }}">
	__A_Category: <check if="{{isset(@data.info) }}">__creatingSubFor {{ @data.info.category }}</check>
</check>
<check if="{{ @data.job=='id' }}">{{@LN__ACP_EditCategory}}</check>

<!-- error notification -->
<check if="{{ isset(@form_error) }}">
	<div class="notification is-warning">
		<button class="delete"></button>
		{{ @form_error }}
	</div>
</check>
<!-- END: error notification -->
<!-- success notification -->
<check if="{{ isset(@form_changes) AND @form_changes>0 }}">
	<div class="notification is-success">
		<button class="delete"></button>
		{{ @LN__Changes_saved }}
	</div>
</check>
<!-- END: success notification -->


<div class="columns">
<div class="column is-half">

<form action="{{@BASE}}/adminCP/archive/categories/{{ @data['job'] }}={{ @data['id'] }}" method="post">

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__ACP_CategoryName}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control"><input class="input" type="text" name="form_data[category]" value="{{ @data.category }}" /></div></div>
	</div>
</div>

		<check if="{{isset(@data.move)}}">
<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">__Location:</label></div>
	<div class="field-body">
		<div class="field"><div class="control"><div class="select">
				<select name="form_data[parent_cid]">
					<repeat group="{{@data.move}}"  value="{{ @move }}">
						<option value="{{@move.cid}}" <check if="{{@move.cid == @data.parent_cid}}"> selected='selected'</check>> 
							<check if="{{@move.leveldown == -1 AND @data.leveldown > 0 }}"><-- </check>
							<check if="{{@move.leveldown == @data.leveldown}}">--> </check>
							{{@move.category}}
						</option>
					</repeat>
				</select>
			</div>
			</div></div>
			</check>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">_Locked</label></div>
	<div class="field-body">
		<div class="field"><div class="control"><label class="checkbox">
					<input type="checkbox" name="form_data[locked]" value="locked" <check if="{{ @data['locked'] }}">checked="checked"</check>>
				</label></div></div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__ACP_CategoryDescription}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control"><textarea class="textarea" name="form_data[description]" rows="5" cols="40">{{ @data.description }}</textarea></div></div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label"><!-- Left empty for spacing --></div>
	<div class="field-body">
		<div class="field">
			<div class="control">
				<div class="field is-grouped">
					<p class="control">
						<button class="button is-success" type="submit">
							<span class="icon">{ICON:save}</span>
							<span>{{@LN__Submit}}</span>
						</button>
					</p>
					<p class="control">
						<button class="button is-light" type="reset">
							<span class="icon">{ICON:undo}</span>
							<span>{{@LN__Reset}}</span>
						</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

</form>
</div></div>