<!-- delete notification -->
<check if="{{ isset(@deleteResult) }}">
	<check if="{{ @deleteResult===0 }}"><div class="notification is-warning"><button class="delete"></button>{{@LN__FailedDelete}}</div></check>
	<check if="{{ @deleteResult===1 }}"><div class="notification is-success"><button class="delete"></button>{{@LN__ElementDeleted}}</div></check>
</check>
<!-- END: delete notification -->

<div class="columns">
	<div class="column">
	<!-- new tag form -->
		<div class="notification">
		<form method="post" action="{{@BASE}}/adminCP/archive/characters">
			<div class="field">
				<label class="label">{{@LN__ACP_NewCharacter}}</label>
				<div class="control">
					<input class="input" type="text" name="newCharacter">
				</div>
			</div>
			<div class="field">
				<div class="control">
					<button class="button is-link">{{@LN__Add}}</button>
				</div>
			</div>
		</form>
		</div>
	<!-- END: new tag form -->
	</div>
	<div class="column">
		<div class="notification">
		<form method="post" action="{{@BASE}}/adminCP/archive/characters/;returnpath=/adminCP/archive/characters/order={{@sort.link}},{{@sort.direction}}/page={{@@paginate.page}}"">
			<div class="field">
				<label class="label">{{@LN__SearchCharacter}}</label>
				<div class="control">
					<input type="text" id="char-select" name="charid" />
				</div>
			</div>
			<div class="field">
				<div class="control">
					<button class="button is-link">{{@LN__Edit}}</button>
				</div>
			</div>
		</form>
		</div>
	</div>
</div>

<F3:check if="{{isset(@paginate.firstPage)}}"><include href="paginate.html" /></F3:check>
<table class="table is-striped is-hoverable is-fullwidth" id="textblockForm">
<thead>
	<tr>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th><a href="{{@BASE}}/adminCP/archive/characters/order=id,
			<check if="{{ @sort['link']!='id' }}">
				<true>desc">{ICON:sort}</true>
				<false>
					<check if="{{ @sort['direction']=='asc' }}">
						<true>desc">{ICON:sort-numeric-asc}</true>
						<false>asc">{ICON:sort-numeric-desc}</false>
					</check>
				</false>
			</check></a> {{@LN__Sort_ID}}
		</th>
		<th><a href="{{@BASE}}/adminCP/archive/characters/order=name,
			<check if="{{ @sort['link']!='name' }}">
				<true>desc">{ICON:sort}</true>
				<false>
					<check if="{{ @sort['direction']=='asc' }}">
						<true>desc">{ICON:sort-alpha-asc}</true>
						<false>asc">{ICON:sort-alpha-desc}</false>
					</check>
				</false>
			</check></a> {{@LN__Sort_Name}}
		</th>
		<th>{{@LN__Sort_Category}}: 
			<span class="select"><select id="categoryselect">
				<option value="">__*FullList</option>
				<option <check if="{{0 == @category}}">selected='selected' </check>value="0">__*Global</option>
				<repeat group="{{@categories}}" value="{{@catData}}">
					<option <check if="{{@catData.id == @category}}">selected='selected' </check> value="{{@catData.id}}">{{@catData.name}}</option>
				</repeat>
			</select>
			</span>
		</th>
		<th><a href="{{@BASE}}/adminCP/archive/characters/order=count,
			<check if="{{ @sort['link']!='count' }}">
				<true>desc">{ICON:sort}</true>
				<false>
					<check if="{{ @sort['direction']=='asc' }}">
						<true>desc">{ICON:sort-numeric-asc}</true>
						<false>asc">{ICON:sort-numeric-desc}</false>
					</check>
				</false>
			</check></a> {{@LN__Sort_Count}}
		</th>
	</tr>
</thead>
<check if="{{ sizeof(@characterlist)>0 }}"><true>
<tbody>
	<repeat group="{{ @characterlist }}" value="{{ @row }}">
	<tr>
		<td><a href="{{@BASE}}/adminCP/archive/characters/id={{ @row['charid'] }};returnpath=/adminCP/archive/characters/order={{@sort.link}},{{@sort.direction}}/page={{@@paginate.page}}">{ICON:edit}</a></td>
		<td>
			<check if="{{ @row['count']==0 }}">
				<true>
					<a href="{{@BASE}}/adminCP/archive/characters/delete={{ @row['charid'] }}" class="deleteItem" title="#{{ @row['charid'] }}: {{ @row['charname'] }}">{ICON:trash}</a>
				</true>
				<false>
					{ICON:trash:{{@LN__CannotDeleteUsedElement}}}
				</false>
			</check>
		</td>
		<td>{{ @row['charid'] }}</td>
		<td>{{ @row['charname'] }}</td>
		<td>{{ @row['category'] }}</td>
		<td>{{ @row['count'] }}</td>
	</tr>
	</repeat>
</tbody>
</table>
<F3:check if="{{isset(@paginate.firstPage) AND sizeof(@characterlist)>4}}"><include href="paginate.html" /></F3:check>
</true><false>
</table>
{{@LN__NoEntries}}
</false></check>

<script type="text/javascript">
$(document).ready(function() {
	$("#char-select").tokenInput("{{$BASE}}/adminCP/ajax/archive/search",{
		method: "post",
		queryParam: "charname",
		hintText: "{{@LN__Token_StartTyping}} ...",
		noResultsText: "{{@LN__Token_NoMatches}}.",
		tokenLimit: 1
	});
});

$(function(){
  // bind change event to select
  $('#categoryselect').on('change', function () {
      var url = $(this).val(); // get selected value
      if (url) { // require a URL
          window.location = "{{@BASE}}/adminCP/archive/characters/category="+url; // redirect
      }
	  else
	  {
		window.location = "{{@BASE}}/adminCP/archive/characters"; // redirect
	  }
      return false;
  });
});
</script>