<div class="columns">
	<div class="column is-half">
		<check if="{{empty(@returnpath)}}">
			<true><a href="{{@BASE}}/adminCP/archive/contests">{ICON:arrow-left} {{@LN__ReturnToOverview}}</a></true>
			<false><a href="{{@BASE}}{{@returnpath}}">{ICON:arrow-left} {{@LN__ReturnToOverview}}</a></false>
		</check>
	</div>
	<div class="column is-half">
		<a href="{{@BASE}}/adminCP/archive/contests/id={{ @data['id'] }}/entries;returnpath={{@returnpath}}">{ICON:arrow-right} {{@LN__ACP_EditContestEntries}}</a>
	</div>
</div>

<include href="header.list.html" />

<form action="{{@BASE}}/adminCP/archive/contests/id={{ @data.id }}/editor={{ @data.editor=='visual' ? "visual" : "plain" }}<check if="{{!empty(@returnpath)}}">;returnpath={{@returnpath}}</check>" method="post">

	<fieldset class="notification">
		<legend class="label has-text-centered"></legend>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">{{@LN__Title}}</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input class="input" type="text" name="form_data[title]" value="{{ @data.title }}" />
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">{{@LN__ACP_ContestActive}}</label>
  </div>
  <div class="field-body">
    <div class="field">
		<select class="input" name="form_data[active]" onchange="this.form.submit()">
			<option value="date"<check if="{{@data.active=='date'}}"> selected="selected"</check>>{{@LN__ContestActiveDate}}</option>
			<option value="preparing"<check if="{{@data.active=='preparing'}}"> selected="selected"</check>>{{@LN__ContestActivePreparing}}</option>
			<option value="active"<check if="{{@data.active=='active'}}"> selected="selected"</check>>{{@LN__ContestActiveActive}}</option>
			<option value="closed"<check if="{{@data.active=='closed'}}"> selected="selected"</check>>{{@LN__ContestActiveClosed}}</option>
		</select>
    </div>
    <div class="field">
		<select class="input" name="form_data[votable]" onchange="this.form.submit()">
			<option value="date"<check if="{{@data.votable=='date'}}"> selected="selected"</check>>{{@LN__ContestVotingDate}}</option>
			<option value="active"<check if="{{@data.votable=='active'}}"> selected="selected"</check>>{{@LN__ContestVotingActive}}</option>
			<option value="closed"<check if="{{@data.votable=='closed'}}"> selected="selected"</check>>{{@LN__ContestVotingClosed}}</option>
		</select>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">{{@LN__ACP_ContestDateRange}}</label>
  </div>
  <div class="field-body">
    <div class="field">
	from
      <div class="control has-icons-left">
        <input class="input" type="text" name="form_data[date_open]" id="date_open"<check if="{{@data.active!='date'}}"> disabled</check> />
        <span class="icon is-small is-left">
          {ICON:calendar}
        </span>
      </div>
    </div>
    <div class="field">
	through
      <div class="control has-icons-left">
        <input class="input" type="text" name="form_data[date_close]" id="date_close"<check if="{{@data.active!='date'}}"> disabled</check> />
        <span class="icon is-small is-left">
          {ICON:calendar}
        </span>
      </div>
    </div>
    <div class="field">
	voting
      <div class="control has-icons-left">
        <input class="input" type="text" name="form_data[vote_close]" id="vote_close"<check if="{{@data.votable!='date'}}"> disabled</check> />
        <span class="icon is-small is-left">
          {ICON:calendar}
        </span>
      </div>
    </div>
  </div>
</div>

<check if="{{@data.active!='date'}}">
	<input type="hidden" name="form_data[date_open]" value="{{ @data.date_open }}">
	<input type="hidden" name="form_data[date_close]" value="{{ @data.date_close }}">
</check>
<check if="{{@data.votable!='date'}}">
	<input type="hidden" name="form_data[vote_close]" value="{{ @data.vote_close }}">
</check>


<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__Characters}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<input class="input" type="text" id="character-select" name="form_data[character]" />
		</div></div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__Tags}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<input class="input" type="text" id="tag-select" name="form_data[tag]" />
		</div></div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__Categories}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<input class="input" type="text" id="category-select" name="form_data[category]" />
		</div></div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"></div>
	<div class="field-body">
			<div class="field">
			  <input id="switch" type="checkbox" name="form_data[concealed]" class="switch is-rounded is-outlined" <check if="{{ @data.concealed==1 }}">checked="checked"</check> />
			  <label for="switch">{{@LN__hidden}}</label>
			</div>
		<div class="field">
			<check if="\Config::getPublic('advanced_editor') == TRUE ">
			<div class="control">
				<check if="{{@data.editor=='visual'}}">
					<true> <a href="{{@BASE}}/adminCP/archive/contests/id={{@data.id}}/editor=plain">{{@LN__SwitchPlainHTML}}</a></true>
					<false> <a href="{{@BASE}}/adminCP/archive/contests/id={{@data.id}}/editor=visual">{{@LN__SwitchVisual}}</a></false>
				</check>
			</div>
			</check>&nbsp;
		</div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__ContestSummary}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<textarea class="textarea" name="form_data[summary]" rows="2" cols="80">{{ @data.summary }}</textarea>
		</div></div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__ContestDescription}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<textarea class="textarea" name="form_data[description]" id="tinymce" rows="10" cols="80">{{ @data.description }}</textarea>
		</div></div>
	</div>
</div>
</fieldset>

<div class="field is-horizontal">
	<div class="field-body">
		<div class="field">
			<div class="control">
				<div class="field is-grouped">
					<p class="control">
						<button class="button is-success" type="submit">
							<span class="icon">{ICON:save}</span>
							<span>{{@LN__Submit}}</span>
						</button>
					</p>
					<p class="control">
						<button class="button is-light" type="reset">
							<span class="icon">{ICON:undo}</span>
							<span>{{@LN__Reset}}</span>
						</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $("#character-select").tokenInput("{{$BASE}}/adminCP/ajax/archive/editMeta",{
    	method: "post",
    	queryParam: "character",
    	preventDuplicates: true,
    	prePopulate: {{@data.pre.character | raw}}
    });
});

$(document).ready(function() {
    $("#tag-select").tokenInput("{{$BASE}}/adminCP/ajax/archive/editMeta",{
    	method: "post",
    	queryParam: "tag",
    	preventDuplicates: true,
    	prePopulate: {{@data.pre.tag | raw}}
    });
});

$(document).ready(function() {
    $("#category-select").tokenInput("{{$BASE}}/adminCP/ajax/archive/editMeta",{
    	method: "post",
    	queryParam: "category",
    	preventDuplicates: true,
    	prePopulate: {{@data.pre.category | raw}}
    });
});

$.datetimepicker.setLocale('de');
$('#date_open').datetimepicker({
	dayOfWeekStart : 1,
	timepicker:false,
	value:'{{ @data.date_open }}',
	format:'{{\Config::getPublic("date_format")}}',
});
$('#date_close').datetimepicker({
	dayOfWeekStart : 1,
	timepicker:false,
	value:'{{ @data.date_close }}',
	format:'{{\Config::getPublic("date_format")}}',
});
$('#vote_close').datetimepicker({
	dayOfWeekStart : 1,
	timepicker:false,
	value:'{{ @data.vote_close }}',
	format:'{{\Config::getPublic("date_format")}}',
});
</script>
