<check if="{{ isset(@deleteResult) }}">
	<check if="{{ @deleteResult===0 }}"><div class="gb-90 alert-box error">{{@LN__FailedDelete}}</div></check>
	<check if="{{ @deleteResult===1 }}"><div class="gb-90 alert-box success">{{@LN__ElementDeleted}}</div></check>
</check>

<form method="post" action="{{@BASE}}/adminCP/archive/contests">
	<div class="grid-wrapper">
		<div class="gb-30"><input class="text-input" type="text" name="newContest"></div>
		<div class="gb-70"><input class="button" type="submit" value="__NewContest"></div>
	</div>
</form>
<form method="post" action="{{@BASE}}/adminCP/archive/contests">
	<fieldset><legend>{{@LN__SearchContest}}:</legend>
	<table>
	<tr><td><input type="text" id="contest-select" name="conid" />
        <script type="text/javascript">
        $(document).ready(function() {
            $("#contest-select").tokenInput("{{$BASE}}/adminCP/ajax/archive/search",{
            	method: "post",
            	queryParam: "contestname",
            	hintText: "{{@LN__Token_StartTyping}} ...",
				noResultsText: "{{@LN__Token_NoMatches}}.",
            	tokenLimit: 1
            });
        });
        </script>
		</td>
	</tr>
	<tr><td><input class="button" type="submit"> <input class="button" type="reset"></td></tr>
	</table>
	</fieldset>
</form>
<check if="{{ sizeof(@contestlist)>0 }}"><true>
<F3:check if="{{isset(@paginate.firstPage)}}"><include href="paginate.html" /></F3:check>
<table class="tbody" id="textblockForm">
	<tr>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th><a href="{{@BASE}}/adminCP/archive/contests/order=id,
			<check if="{{ @sort['link']!='id' }}">
				<true>desc">{ICON:sort}</true>
				<false>
					<check if="{{ @sort['direction']=='asc' }}">
						<true>desc">{ICON:sort-numeric-asc}</true>
						<false>asc">{ICON:sort-numeric-desc}</false>
					</check>
				</false>
			</check></a> {{@LN__Sort_ID}}
		</th>
		<th><a href="{{@BASE}}/adminCP/archive/contests/order=name,
			<check if="{{ @sort['link']!='name' }}">
				<true>desc">{ICON:sort}</true>
				<false>
					<check if="{{ @sort['direction']=='asc' }}">
						<true>desc">{ICON:sort-alpha-asc}</true>
						<false>asc">{ICON:sort-alpha-desc}</false>
					</check>
				</false>
			</check></a> {{@LN__Sort_Label}}
		</th>
		<th><a href="{{@BASE}}/adminCP/archive/contests/order=open,
			<check if="{{ @sort['link']!='open' }}">
				<true>desc">{ICON:sort}</true>
				<false>
					<check if="{{ @sort['direction']=='asc' }}">
						<true>desc">{ICON:sort-numeric-asc}</true>
						<false>asc">{ICON:sort-numeric-desc}</false>
					</check>
				</false>
			</check></a> {{@LN__Sort_COpen}}
		</th>
		<th><a href="{{@BASE}}/adminCP/archive/contests/order=close,
			<check if="{{ @sort['link']!='close' }}">
				<true>desc">{ICON:sort}</true>
				<false>
					<check if="{{ @sort['direction']=='asc' }}">
						<true>desc">{ICON:sort-numeric-asc}</true>
						<false>asc">{ICON:sort-numeric-desc}</false>
					</check>
				</false>
			</check></a> {{@LN__Sort_CClose}}
		</th>
		<th><a href="{{@BASE}}/adminCP/archive/contests/order=count,
			<check if="{{ @sort['link']!='count' }}">
				<true>desc">{ICON:sort}</true>
				<false>
					<check if="{{ @sort['direction']=='asc' }}">
						<true>desc">{ICON:sort-numeric-asc}</true>
						<false>asc">{ICON:sort-numeric-desc}</false>
					</check>
				</false>
			</check></a> {{@LN__Sort_Count}}
		</th>
	</tr>
	<repeat group="{{ @contestlist }}" value="{{ @row }}">
	<tr>
		<td><a href="{{@BASE}}/adminCP/archive/contests/id={{ @row['conid'] }};returnpath=/adminCP/archive/contests/order={{@sort.link}},{{@sort.direction}}/page={{@@paginate.page}}">{ICON:edit}</a></td>
		<td>
			<check if="{{ @row['count']==0 }}">
				<true>
					<a href="{{@BASE}}/adminCP/archive/contests/delete={{ @row['conid'] }}" class="deleteItem" title="#{{ @row['conid'] }}: {{ @row['title'] }}">{ICON:trash}</a>
				</true>
				<false>
					{ICON:trash:{{@LN__CannotDeleteUsedElement}}}
				</false>
			</check>
		</td>
		<td>{{ @row['conid'] }}</td>
		<td>{{ @row['title'] }}</td>
		<td><check if="{{ @row.date_open>0 }}">{{ date(@CONFIG.date_format, @row.date_open) }}</check> </td>
		<td><check if="{{ @row.date_close>0 }}">{{ date(@CONFIG.date_format, @row.date_close) }}</check> </td>
		<td>{{ @row['count'] }}</td>
	</tr>
	</repeat>
</table>
</true><false>
{{@LN__NoEntries}}
</false></check>