{* provide a return link if a path exists *}
<check if="{{!empty(@returnpath)}}"><a href="{{@BASE}}{{@returnpath}}">__return</a></check>

<!-- error notification -->
<check if="{{ isset(@form_error) }}">
	<div class="notification is-warning">
		<button class="delete"></button>
		{{ @form_error }}
	</div>
</check>
<!-- END: error notification -->
<!-- success notification -->
<check if="{{ isset(@form_changes) }}">
	<div class="notification is-success">
		<button class="delete"></button>
		{{ @LN__Changes_saved }}
	</div>
</check>
<!-- END: success notification -->

<h2>{{@LN__ACP_Contest}}</h2>
<form action="{{@BASE}}/adminCP/archive/contests/id={{ @data.id }}/editor={{ @data.editor=='visual' ? "visual" : "plain" }}<check if="{{!empty(@returnpath)}}">;returnpath={{@returnpath}}</check>" method="post">
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">{{@LN__Title}}</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input class="input" type="text" name="form_data[title]" value="{{ @data.title }}" />
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">{{@LN__ACP_ContestDateRange}}</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control has-icons-left">
        <input class="input" type="text" name="form_data[date_open]" id="date_open"/>
        <span class="icon is-small is-left">
          {ICON:calendar}
        </span>
      </div>
    </div>
    <div class="field">
      <div class="control has-icons-left">
        <input class="input" type="text" name="form_data[date_close]" id="date_close"/>
        <span class="icon is-small is-left">
          {ICON:calendar}
        </span>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__Characters}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<input class="input" type="text" id="character-select" name="form_data[character]" />
		</div></div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__Tags}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<input class="input" type="text" id="tag-select" name="form_data[tag]" />
		</div></div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__Categories}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<input class="input" type="text" id="category-select" name="form_data[category]" />
		</div></div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"></div>
	<div class="field-body">
		<div class="field">
			<div class="control">
				<label class="checkbox">
				<input type="checkbox" name="form_data[concealed]" value="1"<check if="{{@data.concealed==1}}"> checked="checked"</check>>
				{{@LN__hidden}}
				</label>
			</div>
		</div>
		<div class="field">
			<div class="control">
				<a href="{{@BASE}}/adminCP/archive/contests/id={{ @data['id'] }}/entries;returnpath={{@returnpath}}">{{@LN__ACP_EditContestEntries}}</a>
			</div>
		</div>
		<div class="field">
			<check if="\Config::getPublic('advanced_editor') == TRUE ">
			<div class="control">
				<check if="{{@data.editor=='visual'}}">
					<true> <a href="{{@BASE}}/adminCP/archive/contests/id={{@data.id}}/editor=plain">{{@LN__SwitchPlainHTML}}</a></true>
					<false> <a href="{{@BASE}}/adminCP/archive/contests/id={{@data.id}}/editor=visual">{{@LN__SwitchVisual}}</a></false>
				</check>
			</div>
			</check>&nbsp;
		</div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__ContestDescription}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<textarea class="textarea" name="form_data[summary]" id="tinymce" rows="20" cols="80">{{ @data.summary }}</textarea>
		</div></div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"></div>
	<div class="field-body">
		<div class="field">
			<div class="control">
				<input class="button is-success" type="submit">
				<input class="button" type="reset">
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $("#character-select").tokenInput("{{$BASE}}/adminCP/ajax/archive/editMeta",{
    	method: "post",
    	queryParam: "character",
    	preventDuplicates: true,
    	prePopulate: {{@data.pre.character | raw}}
    });
});

$(document).ready(function() {
    $("#tag-select").tokenInput("{{$BASE}}/adminCP/ajax/archive/editMeta",{
    	method: "post",
    	queryParam: "tag",
    	preventDuplicates: true,
    	prePopulate: {{@data.pre.tag | raw}}
    });
});

$(document).ready(function() {
    $("#category-select").tokenInput("{{$BASE}}/adminCP/ajax/archive/editMeta",{
    	method: "post",
    	queryParam: "category",
    	preventDuplicates: true,
    	prePopulate: {{@data.pre.category | raw}}
    });
});

$.datetimepicker.setLocale('de');
$('#date_open').datetimepicker({
	dayOfWeekStart : 1,
	timepicker:false,
	value:'{{ @data.date_open }}',
	format:'{{\Config::getPublic("date_format")}}',
});
$('#date_close').datetimepicker({
	dayOfWeekStart : 1,
	timepicker:false,
	value:'{{ @data.date_close }}',
	format:'{{\Config::getPublic("date_format")}}',
});
</script>