<check if="{{ isset(@deleteResult) }}">
	<check if="{{ @deleteResult===0 }}"><div class="notification is-warning"><button class="delete"></button>{{@LN__FailedDelete}}</div></check>
	<check if="{{ @deleteResult===1 }}"><div class="notification is-success"><button class="delete"></button>{{@LN__ElementDeleted}}</div></check>
</check>

<div class="columns">
	<div class="column">
	<!-- new tag form -->
		<div class="notification">
		<form method="post" action="{{@BASE}}/adminCP/archive/contests">
			<div class="field">
				<label class="label">{{@LN__ACP_NewContest}}</label>
				<div class="control">
					<input class="input" type="text" name="newTag">
				</div>
			</div>
			<div class="field">
				<div class="control">
					<button class="button is-link">{{@LN__Add}}</button>
				</div>
			</div>
		</form>
		</div>
	<!-- END: new tag form -->
	</div>
	<div class="column">
		<div class="notification">
		<form method="post" action="{{@BASE}}/adminCP/archive/contests">
			<div class="field">
				<label class="label">{{@LN__SearchContest}}</label>
				<div class="control">
					<input type="text" id="contest-select" name="conid" />
					<script type="text/javascript">
					$(document).ready(function() {
						$("#contest-select").tokenInput("{{$BASE}}/adminCP/ajax/archive/search",{
							method: "post",
							queryParam: "contestname",
							hintText: "{{@LN__Token_StartTyping}} ...",
							noResultsText: "{{@LN__Token_NoMatches}}.",
							tokenLimit: 1
						});
					});
					</script>
				</div>
			</div>
			<div class="field">
				<div class="control">
					<button class="button is-link">{{@LN__Edit}}</button>
				</div>
			</div>
		</form>
		</div>
	</div>
</div>

<check if="{{ sizeof(@contestlist)>0 }}"><true>
<F3:check if="{{isset(@paginate.firstPage)}}"><include href="paginate.html" /></F3:check>
<table class="table is-striped is-hoverable is-fullwidth" id="textblockForm">
<thead>
	<tr>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th><a href="{{@BASE}}/adminCP/archive/contests/order=id,
			<check if="{{ @sort['link']!='id' }}">
				<true>desc">{ICON:sort}</true>
				<false>
					<check if="{{ @sort['direction']=='asc' }}">
						<true>desc">{ICON:sort-numeric-asc}</true>
						<false>asc">{ICON:sort-numeric-desc}</false>
					</check>
				</false>
			</check></a> {{@LN__Sort_ID}}
		</th>
		<th><a href="{{@BASE}}/adminCP/archive/contests/order=name,
			<check if="{{ @sort['link']!='name' }}">
				<true>desc">{ICON:sort}</true>
				<false>
					<check if="{{ @sort['direction']=='asc' }}">
						<true>desc">{ICON:sort-alpha-asc}</true>
						<false>asc">{ICON:sort-alpha-desc}</false>
					</check>
				</false>
			</check></a> {{@LN__Sort_Label}}
		</th>
		<th><a href="{{@BASE}}/adminCP/archive/contests/order=open,
			<check if="{{ @sort['link']!='open' }}">
				<true>desc">{ICON:sort}</true>
				<false>
					<check if="{{ @sort['direction']=='asc' }}">
						<true>desc">{ICON:sort-numeric-asc}</true>
						<false>asc">{ICON:sort-numeric-desc}</false>
					</check>
				</false>
			</check></a> {{@LN__Sort_COpen}}
		</th>
		<th><a href="{{@BASE}}/adminCP/archive/contests/order=close,
			<check if="{{ @sort['link']!='close' }}">
				<true>desc">{ICON:sort}</true>
				<false>
					<check if="{{ @sort['direction']=='asc' }}">
						<true>desc">{ICON:sort-numeric-asc}</true>
						<false>asc">{ICON:sort-numeric-desc}</false>
					</check>
				</false>
			</check></a> {{@LN__Sort_CClose}}
		</th>
		<th><a href="{{@BASE}}/adminCP/archive/contests/order=count,
			<check if="{{ @sort['link']!='count' }}">
				<true>desc">{ICON:sort}</true>
				<false>
					<check if="{{ @sort['direction']=='asc' }}">
						<true>desc">{ICON:sort-numeric-asc}</true>
						<false>asc">{ICON:sort-numeric-desc}</false>
					</check>
				</false>
			</check></a> {{@LN__Sort_Count}}
		</th>
	</tr>
</thead>
<tbody>
	<repeat group="{{ @contestlist }}" value="{{ @row }}">
	<tr>
		<td><a href="{{@BASE}}/adminCP/archive/contests/id={{ @row['conid'] }};returnpath=/adminCP/archive/contests/order={{@sort.link}},{{@sort.direction}}/page={{@@paginate.page}}">{ICON:edit}</a></td>
		<td><a href="{{@BASE}}/adminCP/archive/contests/id={{ @row['conid'] }}/entries;returnpath=/adminCP/archive/contests/order={{@sort.link}},{{@sort.direction}}/page={{@@paginate.page}}">{ICON:list}</a></td>
		<td>
			<check if="{{ @row['count']==0 }}">
				<true>
					<a href="{{@BASE}}/adminCP/archive/contests/delete={{ @row['conid'] }}" class="deleteItem" title="#{{ @row['conid'] }}: {{ @row['title'] }}">{ICON:trash}</a>
				</true>
				<false>
					{ICON:trash:{{@LN__CannotDeleteUsedElement}}}
				</false>
			</check>
		</td>
		<td>{{ @row['conid'] }}</td>
		<td>{{ @row['title'] }}</td>
		<td><check if="{{ @row.date_open>0 }}">{{ date(@CONFIG.date_format, @row.date_open) }}</check> </td>
		<td><check if="{{ @row.date_close>0 }}">{{ date(@CONFIG.date_format, @row.date_close) }}</check> </td>
		<td>{{ @row['count'] }}</td>
	</tr>
	</repeat>
</tbody>
</table>
</true><false>
{{@LN__NoEntries}}
</false></check>

<F3:check if="{{isset(@paginate.firstPage) AND sizeof(@contestlist)>3}}"><include href="paginate.html" /></F3:check>
