{* provide a return link if a path exists *}
<check if="{{!empty(@returnpath)}}"><a href="{{@BASE}}{{@returnpath}}">__return</a></check>
<h1>{{@LN__ACP_Contest}}:</h1>
<form action="{{@BASE}}/adminCP/archive/contests/id={{ @data['id'] }}<check if="{{ @data.raw }}">/raw=1</check><check if="{{!empty(@returnpath)}}">;returnpath={{@returnpath}}</check>" method="post">
	<div class="grid-wrapper">
		<check if="{{ @data['errors'] }}"><div class="gb-90 alert-box error">{{ @data['errors'] }}</div></check>
		<check if="{{ @data['changes'] }}"><div class="gb-90 alert-box success">{{ @LN__Status_Changes, @data['changes'] |format }}</div></check>
		<div class="gb-20">{{@LN__Title}}</div><div class="gb-80"><input type="text" size=80 name="form_data[title]" value="{{ @data['title'] }}" /></div>
		<div class="gb-20">__fromDate</div><div class="gb-30"><input type="text" name="form_data[date_open]" id="date_open"/></div>
		<div class="gb-20">__throughDate</div><div class="gb-30"><input type="text" name="form_data[date_close]" id="date_close"/></div>
		<div class="gb-20">__hidden</div><div class="gb-80"><label><input type="checkbox" name="form_data[concealed]" value="1"<check if="{{@data.concealed==1}}"> checked="checked"</check>>check</label></div>
		<div class="gb-20">{{@LN__Characters}}</div><div class="gb-80"><input type="text" id="character-select" name="form_data[character]" /></div>
		<div class="gb-20">{{@LN__Tags}}</div><div class="gb-80"><input type="text" id="tag-select" name="form_data[tag]" /></div>
		<div class="gb-20">{{@LN__Categories}}</div><div class="gb-80"><input type="text" id="category-select" name="form_data[category]" /></div>
		<div class="gb-90">__ContestDescription:</div><div class="gb-10" align="right"><a href="{{@BASE}}/adminCP/archive/contests/id={{@data.id}}<check if="{{ !@data.raw }}">/raw=1</check>"><check if="{{ @data.raw }}"><true>__SwitchEditor</true><false>__SwitchRaw</false></check></a></div>
		<div class="gb-full"><textarea name="form_data[summary]" id="tinymce" rows="20" cols="80">{{ @data.summary }}</textarea><br /></div>
		<div class="gb-40" align="right"><input type="submit"></div><div class="gb-60"><input type="reset"></div>
	</div>
</form>



<script type="text/javascript">
$(document).ready(function() {
    $("#character-select").tokenInput("{{$BASE}}/adminCP/ajax/archive/editMeta",{
    	method: "post",
    	queryParam: "character",
    	preventDuplicates: true,
    	prePopulate: {{@data.pre.character | raw}}
    });
});

$(document).ready(function() {
    $("#tag-select").tokenInput("{{$BASE}}/adminCP/ajax/archive/editMeta",{
    	method: "post",
    	queryParam: "tag",
    	preventDuplicates: true,
    	prePopulate: {{@data.pre.tag | raw}}
    });
});

$(document).ready(function() {
    $("#category-select").tokenInput("{{$BASE}}/adminCP/ajax/archive/editMeta",{
    	method: "post",
    	queryParam: "category",
    	preventDuplicates: true,
    	prePopulate: {{@data.pre.category | raw}}
    });
});

$.datetimepicker.setLocale('de');
$('#date_open').datetimepicker({
	dayOfWeekStart : 1,
	timepicker:false,
	value:'{{ @data.date_open }}',
	format:'{{\Config::getPublic("date_format_short")}}',
});
$('#date_close').datetimepicker({
	dayOfWeekStart : 1,
	timepicker:false,
	value:'{{ @data.date_close }}',
	format:'{{\Config::getPublic("date_format_short")}}',
});
</script>