<form method="post" action="{{@BASE}}/adminCP/archive/tags/groups">
	<div class="grid-wrapper">
		<div class="gb-30"><input class="text-input" type="text" name="newTagGroup"></div>
		<div class="gb-70"><input class="button" type="submit" value="__NewTagGroup"></div>
	</div>
</form>
<check if="{{ isset(@form_error) }}"><div class="gb-90 alert-box error">{{ @form_error }}</div></check>
<table class="tbody" id="textblockForm">
	<tr>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th><a href="{{@BASE}}/adminCP/archive/tags/groups/order=id,
			<check if="{{ @sort['link']!='id' }}">
				<true>desc">{ICON:sort}</true>
				<false>
					<check if="{{ @sort['direction']=='asc' }}">
						<true>desc">{ICON:sort-numeric-asc}</true>
						<false>asc">{ICON:sort-numeric-desc}</false>
					</check>
				</false>
			</check></a> __ID
		</th>
		<th><a href="{{@BASE}}/adminCP/archive/tags/groups/order=group,
			<check if="{{ @sort['link']!='group' }}">
				<true>desc">{ICON:sort}</true>
				<false>
					<check if="{{ @sort['direction']=='asc' }}">
						<true>desc">{ICON:sort-alpha-asc}</true>
						<false>asc">{ICON:sort-alpha-desc}</false>
					</check>
				</false>
			</check></a> __Name
		</th>
		<th><a href="{{@BASE}}/adminCP/archive/tags/groups/order=count,
			<check if="{{ @sort['link']!='count' }}">
				<true>desc">{ICON:sort}</true>
				<false>
					<check if="{{ @sort['direction']=='asc' }}">
						<true>desc">{ICON:sort-numeric-asc}</true>
						<false>asc">{ICON:sort-numeric-desc}</false>
					</check>
				</false>
			</check></a> __Count
		</th>
	</tr>
	<repeat group="{{ @grouplist }}" value="{{ @row }}">
	<tr>
		<td><a href="{{@BASE}}/adminCP/archive/tags/groups/id={{ @row['tgid'] }}">{ICON:edit}</a></td>
		<check if="{{ @row['count'] == 0 }}">
			<true>
				<td><a href="{{@BASE}}/adminCP/archive/tags/groups/delete={{ @row['tgid'] }}" class="deleteItem" title="#{{ @row['tgid'] }}: {{ @row['description'] }}">{ICON:trash}</a></td>
			</true>
			<false>
				<td>{ICON:trash}</td>
			</false>
		</check>
		<td>{{ @row['tgid'] }}</td>
		<td>{{ @row['description'] }}</td>
		<td>{{ @row['count'] }}</td>
	</tr>
	</repeat>
</table>
