<div class="columns">
	<div class="column is-half">
	<!-- new tag form -->
		<div class="notification">
		<form method="post" action="{{@BASE}}/adminCP/archive/ratings">
		<div class="field">
			<label class="label">{{@LN__ACP_NewRating}}</label>
				<div class="control">
					<input class="input" type="text" name="newRating">
				</div>
		</div>
		<div class="field">
				<div class="control">
					<button class="button is-link">{{@LN__Add}}</button>
				</div>
			</div>
		</form>
		</div>
	</div>
	<div class="column"></div>
</div>


<check if="{{ isset(@moved) }}"><div class="notification is-success"><button class="delete"></button>{{ @LN__Status_Changes, @moved | format }}</div></check>

<check if="{{ sizeof(@ratingList) }}">
		<table class="table">
		<repeat group="{{ @ratingList }}" value="{{ @row }}"">
			<div id="{{ @row.rid }}">
			<tr>
				<td>{ICON:arrow-vert} {{ @row.inorder }}: <a href="{{@BASE}}/adminCP/archive/ratings/id={{@row.rid}}">{ICON:edit}</a>&nbsp;<a href="{{@BASE}}/adminCP/archive/ratings/delete={{@row.rid}}">{ICON:trash}</a></td>
				<td>{{ @row.rating }}</td>
				<td>({{ @row.counter }})</td>
				<td><check if="{{@row.ratingwarning == 1}}">{ICON:alert}</check>&nbsp;</td>
			</tr>
			</div>
		</repeat>
		</table>
</check>

<script type="text/javascript">
$(function () {
	$("#rating-sort").sortable({
		cursor: "move",
		placeholder: "ui-state-highlight",
		update: function () {
			var neworder = $('#rating-sort').sortable('toArray');
			$.ajax({
				type: "post",
				url: "{{@BASE}}/adminCP/ajax/archive/ratingsort",
				data: { neworder: neworder },
				dataType: "html"
			});
		}
	});
});
</script>