<check if="{{!empty(@returnpath)}}"><a href="{{@BASE}}{{@returnpath}}">{ICON:arrow-left} {{@LN__ReturnToOverview}}</a></check>
<!-- error notification -->
<check if="{{ isset(@form_error) }}">
	<div class="notification is-warning">
		<button class="delete"></button>
		{{ @form_error }}
	</div>
</check>
<!-- END: error notification -->
<!-- success notification -->
<check if="{{ isset(@form_changes) AND @form_changes>0 }}">
	<div class="notification is-success">
		<button class="delete"></button>
		{{ @LN__Changes_saved }}
	</div>
</check>
<!-- END: success notification -->

<form action="{{@BASE}}/adminCP/archive/tags/edit/id={{ @data['id'] }}<check if="{{!empty(@returnpath)}}">;returnpath={{@returnpath}}</check>" method="post">

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__ACP_TagName}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<input class="input" type="text" name="form_data[label]" value="{{ @data['label'] }}" />
		</div></div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__ACP_TagGroup}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<div class="select">
				<select name="form_data[taggroup]" size="1">
					<repeat group="{{ @data.groups }}" value="{{ @group }}">
					<option value="{{@group.id }}"<check if="{{ @data.tgid==@group.id }}"> selected="selected"</check>>{{ @group.description }}</option>
					</repeat>
				</select>
			</div>
		</div></div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__ACP_TagDescription}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<textarea class="textarea" name="form_data[description]" rows="5" cols="40">{{ @data.description }}</textarea>
		</div></div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label"><!-- Left empty for spacing --></div>
	<div class="field-body">
		<div class="field">
			<div class="control">
				<div class="field is-grouped">
					<p class="control">
						<button class="button is-primary" type="submit">
							<span class="icon">{ICON:save}</span>
							<span>{{@LN__Submit}}</span>
						</button>
					</p>
					<p class="control">
						<button class="button is-light" type="reset">
							<span class="icon">{ICON:undo}</span>
							<span>{{@LN__Reset}}</span>
						</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</form>