<div class="columns">
	<div class="column is-half">

		<div class="notification">
		<check if="{{ isset(@storyLink) }}"><div class="notification is-warning">{{@storyLink | raw }}?</div></check>
			<form method="post" action="{{@BASE}}/adminCP/stories/add">
				<h6>{{@LN__Title}}</h6>
				<input class="input" placeholder="Your story title goes here" type="text" name="form[new_title]" value="{{@storyTitle}}" />
				<h6>{{@LN__MainAuthor}} <a class="has-tooltip-multiline" data-tooltip="Info: {{@LN__UCP_ExplainMainAuthor}}.">{ICON:info}</a></h6>
				{*		<!-- The next field will be filled by the javascript below, do not change the id! --> *}
				<input type="text" id="mainauthor-select" name="form[new_author]" />
				<check if="{{ isset(@storyLink) }}">
					<div class="notification is-warning"><input type="checkbox" name="form[confirmInsert]" />{{@LN__StoryConfirmSimilar}}</div>
				</check>
				<br />
				<input class="button is-success" type="submit" /> <input class="button is-danger" type="reset" />
			</form>
		</div>

	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $("#mainauthor-select").tokenInput("{{$BASE}}/adminCP/ajax/stories/editMeta",{
    	method: "post",
    	queryParam: "author",
    	preventDuplicates: true,
    	prePopulate: {{@preAuthor | raw}}
    });
});
</script>