<check if="{{isset(@data.chapid)}}">
	<a class="button" href="{{@BASE}}/adminCP/stories/edit/story={{ @data.sid }}">{{@LN__EditHeader}}</a>
	<br /><br />
</check>

<h6>{{@LN__Chapters}}</h6>

<check if="{{ sizeof(@chapterList) }}">

	<small>{{@LN__DragdropSort}}</small>
	<br /><br />
	<div class="columns is-multiline is-smallgap" id="chapter-sort" >
		<repeat group="{{ @chapterList }}" value="{{ @row }}" counter="{{ @ctr }}">
			<div class="column is-full" id="{{ @row.chapid }}">
				<div class="columns">
					<div class="column is-narrow">{ICON:arrow-vert} {{ @ctr }}:</div>
					<div class="column is-narrow"><a href="{{@BASE}}/adminCP/stories/edit/story={{ @row.sid }}/chapter={{ @row.chapid }}/editor={{ @data.editor=='visual' ? 'visual' : 'plain' }}">{ICON:edit}</a></div>
					<div class="column">{{ @row.title }} <check if="{{20 < @row.validated AND @row.validated < 30}}">{ICON:waiting}</check></div>
				</div>
			</div>
		</repeat>
	</div>

</check>
		
<br />
		
<a class="button is-primary" href="{{@BASE}}/adminCP/stories/edit/story={{ @data.sid }}/chapter=new">{{@LN__AddChapter}}</a>

<script type="text/javascript">
$(function () {
	$("#chapter-sort").sortable({
		cursor: "move",
		update: function () {
			var neworder = $('#chapter-sort').sortable('toArray');
			$.ajax({
				type: "post",
				url: "{{@BASE}}/adminCP/ajax/stories/sort",
				data: { chaptersort: {{@data.sid}}, neworder: neworder },
				dataType: "html"
			});
		}
	});
});
</script>