		<check if="{{isset(@data.chapid)}}"><a class="button" href="{{@BASE}}/adminCP/stories/edit/story={{ @data.sid }}">{{@LN__EditHeader}}</a> <br /><br /></check>
		<h6>{{@LN__Chapters}}</h6>
		<check if="{{ sizeof(@chapterList) }}">
		<small>{{@LN__DragdropSort}}</small>
		<br /><br />
		<ul id="chapter-sort">
		<repeat group="{{ @chapterList }}" value="{{ @row }}" counter="{{ @ctr }}">
			<li id="{{ @row.chapid }}">
				{ICON:arrow-vert} {{ @ctr }}: <a href="{{@BASE}}/adminCP/stories/edit/story={{ @row.sid }}/chapter={{ @row.chapid }}/editor={{ @data.editor=='visual' ? "visual" : "plain" }}">{ICON:edit}</a>{{ @row.title }} <check if="{{20 < @row.validated AND @row.validated < 30}}">{ICON:waiting}</check>
			</li>
		</repeat>
		</ul>
		</check>
		
		<br /><br />
		
		<a class="button" href="{{@BASE}}/adminCP/stories/edit/story={{ @data.sid }}/chapter=new">{{@LN__AddChapter}}</a>
		
<script type="text/javascript">
$(function () {
	$("#chapter-sort").sortable({
		cursor: "move",
		placeholder: "ui-state-highlight",
		update: function () {
			var neworder = $('#chapter-sort').sortable('toArray');
			$.ajax({
				type: "post",
				url: "{{@BASE}}/adminCP/ajax/stories/chaptersort",
				data: { story: {{@data.sid}}, neworder: neworder },
				dataType: "html"
			});
		}
	});
});
</script>