<div class="grid-wrapper">
	<div class="gb-3qrt">
		<check if="{{@data.chapid=='new'}}">New chapter!</check>
		<form method="post" action="{{@BASE}}/adminCP/stories/edit/story={{@data.sid}};chapter={{@data.chapid}}">
  			<div class="gb-full"><h6>__StoryTitle</h6><input class="readonly" readonly value="{{@data.storytitle}}""></div>

  			<div class="gb-full"><h6>__ChapterTitle</h6><input placeholder="Your chapter title goes here" type="text" name="form[chapter_title]" value="{{@data.title}}"></div>
			<div class="gb-full"><h6>__Foreword</h6><textarea placeholder="Notes and dedications go here" name="form[chapter_notes]">{{@data.notes}}</textarea></div>
			
			<div class="gb-full"><h6>__Story</h6>
			<check if="{{@data.editmode=='visual'}}">
				<true><a href="{{@BASE}}/adminCP/stories/edit/story={{@data.sid}};chapter={{@data.chapid}};style=plain">__SwitchPlainHTML</a></true>
				<false><a href="{{@BASE}}/adminCP/stories/edit/story={{@data.sid}};chapter={{@data.chapid}}">__SwitchVisual</a></false>
			</check>
			<textarea placeholder="Your chapter's content goes here" name="form[chapter_text]" id="editor1">{{@data.chaptertext}}</textarea></div>
			<check if="{{@data.editmode=='visual'}}"><script>
				// Replace the <textarea id="editor1"> with a CKEditor
				// instance, using default configuration.
				CKEDITOR.replace( 'editor1' );
			</script></check>

			<input class="button" type="submit"> <input class="button" type="reset">
		</form>
	</div>
	<div class="gb-1qrt">
		<include href="stories/chapterlist.html" />
	</div>
</div>
<script type="text/javascript">
$(function () {
	$("#chapter-sort").sortable({
		cursor: "move",
		containment: "parent",
		update: function () {
			var neworder = $('#chapter-sort').sortable('toArray');
			$.ajax({
				type: "post",
				url: "{{@BASE}}/adminCP/ajax/stories/chaptersort",
				data: { story: {{@data.sid}}, neworder: neworder },
				dataType: "html"
			});
		}
	});
});
</script>