{* provide a return link if a path exists *}
<div class="columns">
	<div class="column">
		<check if="{{!empty(@returnpath)}}">{ICON:arrow-left} <a href="{{@BASE}}{{@returnpath}}">{{@LN__Return}}</a></check>&nbsp;
	</div>
</div>

<!-- success notification v4 -->
<check if="{{ isset(@save_success) }}">
	<div class="notification is-success">
		<button class="delete"></button>
		{{ @LN__Status_Changes, @save_success | format }}
	</div>
</check>
<!-- END: success notification -->

<form action="{{@BASE}}/adminCP/stories/recommendations/id={{ @data['recid'] }}/editor={{ @data.editor=='visual' ? "visual" : "plain" }}<check if="{{!empty(@returnpath)}}">;returnpath={{@returnpath}}</check>" method="post">

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">{{@LN__Title}}</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input class="input" type="text" name="form_data[title]" value="{{ @data['title'] }}" />
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{{@LN__RecommBy}}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<input class="input" type="text" id="maintainer-select" name="form_data[maintainer]" />
		</div></div>
	</div>
</div>














<script type="text/javascript">
$(document).ready(function() {
    $("#category-select").tokenInput("{{$BASE}}/adminCP/ajax/stories/editMeta",{
    	method: "post",
    	queryParam: "category",
    	preventDuplicates: true,
    	prePopulate: {{@data.categoryblock | raw}}
    });
});

$(document).ready(function() {
    $("#maintainer-select").tokenInput("{{$BASE}}/adminCP/ajax/stories/editMeta",{
    	method: "post",
    	queryParam: "user",
    	preventDuplicates: true,
		tokenLimit: 1,
    	prePopulate: {{@data.maintainerblock | raw}}
    });
});

</script>