
<div class="columns">
	<div class="column is-half">

		<!-- error notification v4 -->
		<check if="{{ isset(@load_error) }}">
			<div class="notification is-warning">
				<button class="delete"></button>
				{{ @LN__FailedLoadItem, @LN__Story | format }}
			</div>
		</check>
		<!-- END: error notification -->

		<div class="notification">
		<form>
			<h6>{{@LN__Search}}</h6>
			Type <b>title</b> or story <b>id</b>
			<input type="text" id="story-select" name="story" />
			<br />
			<input id="search" class="button is-success" type="submit" />
			<input class="button is-danger" type="reset" /> 
		</form>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$("#story-select").tokenInput("{{$BASE}}/adminCP/ajax/stories/search",{
		method: "post",
		queryParam: "storyID",
		hintText: "{{@LN__Token_StartTyping}}.",
		noResultsText: "{{@LN__Token_NoMatches}}.",
		tokenLimit: 1
	});
	$('#search').click(function(event) {
		event.preventDefault();
		story = $("#story-select" ).val();
		window.location = '{{@BASE}}/adminCP/stories/edit/story='+story;
	});
});
</script>