{* provide a return link if a path exists *}
<check if="{{!empty(@returnpath)}}"><a href="{{@BASE}}{{@returnpath}}">__return</a></check>

<!-- error notification -->
<check if="{{ isset(@form_error) }}">
	<div class="notification is-warning">
		<button class="delete"></button>
		{{ @form_error }}
	</div>
</check>
<!-- END: error notification -->
<!-- success notification -->
<check if="{{ isset(@form_changes) }}">
	<div class="notification is-success">
		<button class="delete"></button>
		{{ @LN__Changes_saved }}
	</div>
</check>
<!-- END: success notification -->

<h2>{{@LN__Series}}</h2>
<form action="{{@BASE}}/adminCP/stories/series/id={{ @data['id'] }}/editor={{ @data.editor=='visual' ? "visual" : "plain" }}<check if="{{!empty(@returnpath)}}">;returnpath={{@returnpath}}</check>" method="post">
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">{{@LN__Title}}</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input class="input" type="text" name="form_data[title]" value="{{ @data['title'] }}" />
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"></div>
	<div class="field-body">
		<div class="field">
			<check if="{{@data.editor=='visual'}}">
				<true> <a href="{{@BASE}}/adminCP/stories/series/id={{@data.id}}/editor=plain<check if="{{!empty(@returnpath)}}">;returnpath={{@returnpath}}</check>">{{@LN__SwitchPlainHTML}}</a></true>
				<false> <a href="{{@BASE}}/adminCP/stories/series/id={{@data.id}}/editor=visual<check if="{{!empty(@returnpath)}}">;returnpath={{@returnpath}}</check>">{{@LN__SwitchVisual}}</a></false>
			</check>
		</div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal"><label class="label">{@LN__SeriesDescription}</label></div>
	<div class="field-body">
		<div class="field"><div class="control">
			<textarea class="textarea" name="form_data[summary]" id="tinymce" rows="20" cols="80">{{ @data.summary }}</textarea>
		</div></div>
	</div>
</div>

<pre>
{{print_r($data,1)}}
</pre>